<div class="water-helper bg-light shadow-sm p-3 mb-5 rounded">
  <header>
    <div class="row clearfix" id="home">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

      </div>

    </div>
  </header>
<section class="saction3">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="ordaring">
        <h2 class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.50s">Ordering food was never so
          easy</h2>
        <div class="dotted os-animation" data-os-animation="bounceInLeft" data-os-animation-delay="1s"></div>
        <p class="os-animation" data-os-animation="zoomIn" data-os-animation-delay="0.50s">Just 4 stap follow</p>
        <div class="dotted1 os-animation" data-os-animation="bounceInRight" data-os-animation-delay="1s"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <figure class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.50s"><img
        src="../../src/assets/img/one.png" alt=""/></figure>
      <div class="arrow"><img src="../../src/assets/img/arrow.png" alt=""/></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <figure class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="1.5s"><img
        src="../../src/assets/img/two.png" alt=""/></figure>
      <div class="arrow1 "><img src="../../src/assets/img/arrow.png" alt=""/></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <figure class="step os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="2.5s"><img
        src="../../src/assets/img/thrww.png" alt=""/></figure>
      <div class="arrow"><img src="../../src/assets/img/arrow.png" alt=""/></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <figure class="step1 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="3.5s"><img
        src="../../src/assets/img/four.png" alt=""/></figure>
    </div>
  </div>
</section>
</div>
