<h5 class="display-5">{{languagesService.languages.responsefromserver}}</h5>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    {{alertText}}
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-outline-dark ml-1"
            [disabled]="isLoading" (click)="close()"><i class="trash-alt"></i>{{languagesService.languages.close}}
    </button>
  </div>
</form>
