.exit {
  border: 1px solid #47caff;
  padding: 0.2rem;
  cursor: default;
}

.exit:hover {
  background-color: aliceblue;
}

input {
  padding: 0.2rem;
  outline: none;
  font-size: 1rem;
}

.padding-header{
  padding: 30px;
}
