<h4 class="display-4">{{languagesService.languages.orderfooditem}}</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <div class="alert alert-primary text-center" role="alert" [hidden]="!enableTable()">
      {{languagesService.languages.canbookingplace}}
    </div>
    <div class="alert alert-primary text-center" role="alert" [hidden]="enableTable()">
      {{languagesService.languages.placetaken}}
    </div>
  </div>
  <div class="form-group" [hidden]="!enableTable()">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> {{languagesService.languages.booking}}
    </button>
    <button type="button" class="btn btn-outline-dark ml-1" (click)="openOrderComponent()"><i class="trash-alt"></i>{{languagesService.languages.beforebooking}}
    </button>
  </div>
  <div class="form-group" [hidden]="enableTable()">
    <button type="button" class="btn btn-outline-dark ml-1" (click)="close()"><i class="trash-alt"></i>{{languagesService.languages.close}}
    </button>
  </div>
</form>
