<ion-header>
  <ion-toolbar>
    <ion-title>not-found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text  class="ion-text-center" color="secondary">
    <h1>Страница не найдена </h1>
  </ion-text>
</ion-content>
