<div class="main">
  <h1>
    {{languagesService.languages.login}}
  </h1>
  <app-login></app-login>
  <app-about *ngIf="login.canViewAbout"></app-about>
  <app-client-list *ngIf="login.canViewUsers"></app-client-list>
</div>
