<div class="water-helper bg-light  shadow-sm p-3 mb-5 rounded ">

  <div class="row clearfix" id="home">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

    </div>

  </div>
  <section id="mu-about-us ">
    <div class="row ">
      <div class="col-md-12">
        <div class="mu-about-us-area">

          <div class="mu-title">
            <span class="mu-subtitle">{{languagesService.languages.aboutus.toTitleCase()}}</span>
            <!--<h2>ABOUT US</h2>-->
          </div>

          <div class="col-md-6 " style="float: left">
            <!--<slideshow [imageUrls]="imagesUrl"></slideshow>
            <slideshow
              [minHeight]="'500px'"
              [autoPlay]="true"
              [showArrows]="true"
              dotColor="#e5e5e5"
              backgroundSize="80%"
              [lazyLoad]="imagesUrl?.length > 1"
              [autoPlayWaitForLazyLoad]="true"
              [imageUrls]="imagesUrl"></slideshow>-->
            <angular-image-slider [images]="imagesUrl"></angular-image-slider>
          </div>
          <div class="col-md-6" style="float: left">
            <div class="mu-about-us-right">
              <p class="mu-about-us-right-p" style="text-align: center; margin: 20px">{{languagesService.languages.abouttext1}}</p>
              <p class="mu-about-us-right-p" style="text-align: center; margin: 20px">{{languagesService.languages.abouttext2}}</p>
              <p class="mu-about-us-right-p" style="text-align: center; margin: 20px">{{languagesService.languages.abouttext3}}</p>
            <!--  <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia.</li>
              </ul>-->
              <!--<p style="text-align: center; margin: 20px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque similique molestias est quod
                reprehenderit, quibusdam nam qui, quam magnam.</p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
