<div class="table-place">
  <div *ngFor="let key of keys();" [class]='key'>
    <div *ngFor="let item of staticTable[key]" [class]="item.name" appBoldDirective [isClicked]="selectedItem == item && selectedItem.enable"
         (click)="chooseTable(item)">
      <i class="fa fa-times-circle" aria-hidden="true" *ngIf="!item.enable"></i>
    </div>
  </div>







  <!--
    <div class="table-part-center-left">
      <div class="table-five"></div>
      <div class="table-six"></div>
      <div class="table-seven"></div>
    </div>
    <div class="table-part-center">
      <div class="table-eight"></div>
      <div class="table-nine"></div>
      <div class="table-ten"></div>
      <div class="table-eleven"></div>
    </div>
    <div class="table-part-up">
      <div class="table-twelve"></div>
      <div class="table-thirteen"></div>
    </div>
    <div class="table-part-right">
      <div class="table-fourteen">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </div>
      <div class="table-fifteen">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </div>
      <div class="table-sixteen">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </div>
      <div class="table-seventeen"></div>
    </div>-->


</div>


<!--
<div class="table-place">
    <div *ngFor="let key of keys();" [class]='key'>
      <div *ngFor="let item of staticTable[key]" [class]="item.name" appBoldDirective
           [isClicked]="selectedId ==item.id" (change)="chooseTable(item.id)">
      </div>
    </div>


    <!--
      <div class="table-part-center-left">
        <div class="table-five"></div>
        <div class="table-six"></div>
        <div class="table-seven"></div>
      </div>
      <div class="table-part-center">
        <div class="table-eight"></div>
        <div class="table-nine"></div>
        <div class="table-ten"></div>
        <div class="table-eleven"></div>
      </div>
      <div class="table-part-up">
        <div class="table-twelve"></div>
        <div class="table-thirteen"></div>
      </div>
      <div class="table-part-right">
        <div class="table-fourteen">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div class="table-fifteen">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div class="table-sixteen">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div class="table-seventeen"></div>
      </div>-->


<!--</div>-->
