.avatar {
  position: absolute;
  background: url("../../assets/img/avatar.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 10px;
  height: 40px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .header-container{
   margin-left: 1vw;
  }
}
.color-comments{
  color: #3f596b!important;
}
.mat-display{
  display: block;
}
.comments-color{
  padding-left: 35px;
  /*background-color: #f2f2f2;*/
}
.mat-dialog-container{
  background-color: #f2f2f2;

}
.padding-commments{
  padding: 15px;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}
.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.fixed-scroll-position{
  position: fixed;
  background-color: #e5e5e5;
  right: 20%;
  z-index: 100;
}

.position-fixed-comment{
}
