<form #form="ngForm" autocomplete="off" (submit)="onSumbit(form)">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>{{languagesService.languages.username}}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">№</div>
          </div>
          <select name="foodList" class="form-control" [(ngModel)]="ngPersonDisplay.id" (change)="chooseUserName()">
            <option value="" *ngIf="UserCansList.length==0">{{languagesService.languages.empty}}</option>
            <option *ngFor="let item of personDisplaysList" [value]="item.id">{{item.username}}</option>
          </select>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>{{languagesService.languages.role}}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">{{languagesService.languages.role}}</div>
          </div>
          <select name="foodList1" class="form-control" [(ngModel)]="ngUserCan" (change)="chooseUserCan()">
            <option value="">--{{languagesService.languages.role}}--</option>
            <option *ngFor="let item of UserCansList" [value]="item.userCan">{{item.userCan}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label>{{languagesService.languages.fullname}}</label>
        <div class="input-group">
          <div class="input-group-prepend">
          </div>
          <input name="dateMenu" class="form-control" [(ngModel)]="ngPersonDisplay.fio">
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div *ngFor="let item of ngPersonDisplay.cans" class="alert alert-info"
           role="alert">
        {{item}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>{{languagesService.languages.submit}}
        </button>
      </div>
    </div>
  </div>
</form>


<div [id]="responseObject[0].response" class="alert alert-success response-capacity-from"
     role="alert">
  {{responseCustomer.alertText}}
</div>
<div [id]="responseObject[1].response" class="alert alert-danger response-capacity-from"
     role="alert">
  {{responseCustomer.alertText}}
</div>
<div [id]="responseObject[2].response" class="alert alert-primary response-capacity-from"
     role="alert">
  {{responseCustomer.alertText}}
</div>
