<div class="shadow-sm bg-light rounded col-md-6 offset-md-3">
  <h3 class="text-center padding-header">{{languagesService.languages.registration.toUpperCase()}}</h3>
  <div *ngIf="loginService.loading">
    {{languagesService.languages.loadingwait}}
  </div>

  <div *ngIf="!loginService.loading">
    <div class="container">
      <div class="col-md-12">
        <div class="" *ngIf="!loginService.personDisplay">
          <div class="form-group">

            <input type="number" class="form-control" placeholder="{{languagesService.languages.username}}"
                   [(ngModel)]="loginService.username"
                   (keydown)="deleteE($event)"
                   aria-label="languagesService.languages.username" aria-describedby="button-addon2">
          </div>
          <div class="form-group">

            <input type="password" class="form-control" placeholder="{{languagesService.languages.password}}"
                   [(ngModel)]="loginService.password"
                   aria-label="languagesService.languages.password" aria-describedby="button-addon2">
          </div>
          <div class="form-group">
            <div class="input-group-append flex-row-reverse">
              <button class="btn btn-outline-secondary "  style="margin-bottom: 10px" type="button" id="button-addon2"
                      (click)="loginService.registrate()">
                {{languagesService.languages.registration.toFirstTitleCase()}}
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="loginService.personDisplay" class="row">
          <h5 class="alert text-center col-md-9"> {{languagesService.languages.enterin}}
            {{loginService.personDisplay.username}}/{{loginService.personDisplay.fio}}
          </h5>
         <!-- <button type="button" class="btn btn-danger" style="margin-top: 0.5em" (click)="loginService.exit()">
            {{languagesService.languages.exit}}
          </button>-->
        </div>
      </div>
    </div>
  </div>
</div>
